.ticket {
    position: relative;
    box-sizing: border-box;
    width: 250px;
    height: 200px;
    margin: 10px 0 0;
    padding: 10px;
    background: rgba(221, 218, 218, 0.473);
  
    }
    
  
  .ticket_content {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 6px solid #D8D8D8;
    padding-left:10px;
  }
  